/* Contact */
#contact {
  background-color: #1099ff;
  color: #e5e5e5;
  text-align: center;
}

.contact-container {
  padding: 3% 7%;
  /* border: 2px solid blue; */
}

.contact-container h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.5px solid #e5e5e544;
}

.contact-us {
  /* display: inline; */
  margin-bottom: 2rem;
  /* border-bottom: 0.5px solid #e5e5e544; */
}

.contact-container p {
  margin-bottom: 3rem;
}

/* Remove inherit link styles */
.contact-container a {
  color: inherit;
  text-decoration: none;
}

.contact-container a:hover {
  color: #ffffff;
  text-decoration: none;
}

.copyright {
  color: #e5e5e5;
  grid-area: cr;
  font-size: 0.75rem;
  padding-top: 3%;
  /* border: 2px solid red; */
}
