#curr-pair-info {
  background-color: #e5e5e5;
  background-image: linear-gradient(to right, #1099ff, #e5e5e5);
  color: #1099ff;
}

.curr-pair-info-container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1%;
  justify-content: space-between;
  align-items: center; */
  padding: 3% 7%;
  text-align: center;
  /* border: 2px solid red; */
}

.curr-pair-change-container h2 {
  text-align: right;
  margin-bottom: 5%;
}

.rate-down {
  color: #b30021;
}

.rate-up {
  color: #0f8800;
}

.curr-pair td, .curr-pair th {
  padding: 3%;
  border-bottom: 0.5px solid #7f8fab;
}

.curr-pair-head {
  color: #7f8fab;
}
