#curr-pair-info {
  background-color: #e5e5e5;
  background-image: linear-gradient(to right, #1099ff99, #e5e5e5);
  color: #1099ff;
}

.curr-pair-info-container {
  padding: 3% 7%;
  text-align: center;
  /* border: 2px solid red; */
}

.curr-pair-change-container h2 {
  text-align: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.5px solid #7f8fab44;
}

.curr-pair-change-container p {
  text-align: right;
  margin-bottom: 3rem;
}

.rate-down {
  color: #b30021;
}

.rate-up {
  color: #0f8800;
}

.curr-pair td, .curr-pair th {
  padding: 3%;
  border-bottom: 0.5px solid #7f8fab44;
}

.curr-pair-head {
  color: #7f8fab;
}
