#precious-metals {
  background-color: #e5e5e5;
  background-image: linear-gradient(to right, #e5e5e5, #1099ff);
  color: #1099ff;
}

.precious-metals-container {
  padding: 3% 7%;
}

.precious-metals-container h2 {
  margin-bottom: 3%;
}

.card-body {
  text-align: center;
}

.card-text {
  color: #3a3d36;
}

/* Display background colour for precious metals */
.card-body-ag, .card-body-au, .card-body-pt {
  position: relative;
  padding: 20%;
}

.card-body-ag::before {
  content: "";
  background: linear-gradient(to bottom right, #a8a9ad, #ededed, #a8a9ad);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.70;
}

.card-body-au::before {
  content: "";
  background: linear-gradient(to bottom right, #d4af37, #f7edc6, #d4af37);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.70;
}

.card-body-pt::before {
  content: "";
  background: linear-gradient(to bottom right, #bababa, #ffffff, #bababa);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.70;
}
