@import "coinFlipStyles.css";
@import "navHeroStyles.css";
@import "exchangeCTAStyles.css";
@import "currencyPairInfoStyles.css";
@import "preciousMetalsStyles.css";
@import "contactStyles.css";
@import "mediaStyles.css";

.body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto+Serif', sans-serif;
}

/* Color Palette */
/* Primary: #1089ff, #e5e5e5, #7f8fab */
/* Secondary: #eeeeee, #ffffff; */
/* Link & Hover: , #0779E4, #b30021, #0f8800, #18a4e0; */
/* Metals: #a8a9ad, #ededed, #d4af37, #f7edc6, #bababa, #ffffff */
