@import "coinFlipStyles.css";
@import "navHeroStyles.css";
@import "exchangeCTAStyles.css";
@import "currencyPairInfoStyles.css";
@import "preciousMetalsStyles.css";
@import "contactStyles.css";

.body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto+Serif', sans-serif;
}

/* Color Palette */
/* #D9D9D9, #E9E9E9, #CDCDCD, #003366, #0033FF */
/* #025383, #fff, #EFF2F4, #18a4e0 */
/* #0779E4, #4bbbb4, #77d8d8, #eff3c6 */
/* #23374d, #1089ff, #e5e5e5, #eee */
/* #1dd166, #7f8fab, #b1b2b8 */
