.coin-logo-container {
  text-align: center;
  vertical-align: middle;
  /* background-color: #1089ff; */
}

.coin-logo {
  width: 12em;
  height: 12em;
  display: inline-block;
  background-color: #1089ff;
  border-radius: 50%;
  border: 2px double #e5e5e5;
  border-width: thick;
  /* background-color: transparent; */
  /* box-shadow:  4px 4px 4px 2px #0000002a; */
  /* Animation */
  -webkit-animation: coinFlip 4s infinite linear;
  animation: coinFlip 4s infinite linear;
}

.coin-logo-icon {
  margin-top: 0.30em;
  color: #e5e5e5;
}

@keyframes coinFlip {
  0%   {transform: rotateY(0deg);}
  20%  {transform: rotateY(72deg);}
  40%  {transform: rotateY(144deg);}
  60%  {transform: rotateY(216deg);}
  80%  {transform: rotateY(288deg);}
  100% {transform: rotateY(360deg);}
}
